<li class="sound-list-file" data-index={{index}}>
  <div>
    (<span data-action="audio" class="action-link">Play</span> |
    {{#if unused_count}}<span data-action="backlinks" class="action-link">Links</span> |{{/if}}
    <span data-action="info" class="action-link">Info</span>)
    <a href="https://commons.wikimedia.org/wiki/{{title}}" class="link">{{title}}<a>
  </div>
  <div class="file-output audio"></div>
  <div class="file-output backlinks"></div>
  <dl class="file-output info"></dl>
</li>