%main.counter
  %h3 Edit counter

  %form
    %input{placeholder: "Username"}
    %fieldset.options
      %div.radio
        %input#articles
        %label{for: "articles"} Articles created
      %div.checkbox
        %input#semi{type: "checkbox"}
        %label{for: "semi"} Semi-automated tools