%main.search
  %header
    %h1 Edit summary search

  %form
    %fieldset.basic
      %label{for: "username"} Username
      %input#username{type: "text", placeholder: "Example", name: "username", required: true, value: params[:username]}
      %input#offset{type: "hidden", name: "offset", value: 0}

    %fieldset.basic
      %label{for: "query"} Search query
      %input#query{type: "text", placeholder: "", name: "query", required: true, value: params[:query]}

    %fieldset.dropdowns
      %label{for: "namespace"} Namespace
      %input#namespace{type: "hidden", name: "namespace", value: namespace}
      %div.dropdown
        %div#dropdown_select
          = namespaceText
        %ul.namespace-selector
          %li{"data-id" => nil}
            All
          - namespaces.keys.each do |namespaceId|
            %li{"data-id" => namespaceId}
              = namespaces[namespaceId]

    %button Submit

  %section.output
    %span.another-query &larr; Do another query
    %div.total-output.result-block
    %ul#contribs.contribs-output.result-block
    %div.contrib-nav
      %div.prev-page &larr; Newer 50
      %div.next-page Older 50 &rarr;

  %section.loading
    %div.loading-text Thinking...
    %progress{max: "100", value: "0"}
    %div.progress-report
