%section.links
  %ul
    %li
      %a.tool-link{href: "/musikanimal/nonautomated_edits"} Nonautomated edit counter
      %div Show and count a user's contributions without the use of semi or fully automated tools, and show which tools were used and how many times.
    %li
      %a.tool-link{href: "/musikanimal/blp_edits"} BLP edit counter
      %div Show and count a user's contributions to <a href="#{project_path}/wiki/WP:BLP">biographes of living persons</a>.
    %li
      %a.tool-link{href: "/musikanimal/sound_search"} Sound search
      %div Search <a href="https://commons.wikimedia.org">Commons</a> for audio files.

%a{href: "https://commons.wikimedia.org/wiki/File:Tool_labs_logo.svg"}
  %img.labs-logo{src: "/musikanimal/images/labs_logo.svg", alt: "Labs logo"}
