%section.links
  %ul
    %li
      %a.tool-link{href: "/musikanimal/nonautomated_edits"} Nonautomated edit counter
      %div Show and count a user's contributions without the use of semi or fully automated tools, and show which tools were used and how many times.
    %li
      %a.tool-link{href: "/musikanimal/namespace_counter"} Namespace counter
      %div Generic namespace edit counter, with options to exclude (semi-)automated edits.
    %li
      %a.tool-link{href: "/musikanimal/blp_edits"} BLP edit counter
      %div Show and count a user's contributions to <a href="#{project_path}/wiki/WP:BLP">biographies of living persons</a>.
    %li
      %a.tool-link{href: "/musikanimal/policy_edits"} Policies and guidelines edit counter
      %div Show and count a user's contributions to <a href="#{project_path}/wiki/WP:POLICY">policies and guidelines</a>.
    %li
      %a.tool-link{href: "/musikanimal/category_edits"} Category edit counter
      %div Show and count a user's contributions to given <a href="https://www.mediawiki.org/wiki/Help:Categories">categories</a>.
    %li
      %a.tool-link{href: "/musikanimal/sound_search"} Sound search
      %div Search <a href="https://commons.wikimedia.org">Commons</a> for audio files.

%img.labs-logo{src: "/musikanimal/images/labs_logo.svg", alt: "Labs logo"}
