!!!
%html
  %head
    %meta{charset: "utf-8"}
    %link{href: "application.css", rel: "stylesheet", type: "text/css"}
    %link{href: "http://fonts.googleapis.com/css?family=Roboto", rel: "stylesheet", type: "text/css"}
    %script{src: "application.js"}
    %title Non-automated Counter from MusikAnimal
  %body
    = yield
    %footer
      &copy;
      %a{href: "https://en.wikipedia.org/wiki/User:MusikAnimal"}
        MusikAnimal