!!!
%html
  %head
    %meta{charset: "utf-8"}
    %link{href: "/musikanimal/application.css", rel: "stylesheet", type: "text/css"}
    %link{href: "https://fonts.googleapis.com/css?family=Roboto", rel: "stylesheet", type: "text/css"}
    %script{src: "/musikanimal/application.js"}
    %title Non-automated Counter from MusikAnimal
  %body
    <!--[if lt IE 9]>
    %big Old versions of Internet Explorer not supported. Please update your browser.
    <![endif]-->
    = yield
    %footer
      &copy;
      %a{href: "https://en.wikipedia.org/wiki/User:MusikAnimal"}
        MusikAnimal