%main.counter
  %header
    %h3 Non-automated edit counter

  %div.another-query &larr; Do another query
  %form
    %fieldset.basic
      %label{for: "username"} Username
      %input#username{type: "text", placeholder: "Example", name: "username", required: true}
      %input#offset{type: "hidden", name: "offset", value: 0}

    %fieldset.dropdowns
      %label{for: "namespace"} Namespace
      %input#namespace{type: "hidden", name: "namespace", value: namespace}
      %div.dropdown
        %div#dropdown_select
          = namespaceText
        %ul.namespace-selector
          - namespaces.keys.each do |namespaceId|
            %li{"data-id" => namespaceId}
              = namespaces[namespaceId]

    %fieldset.options
      %div.checkbox
        %input#contribs{type: "checkbox", name: "contribs", value: "on", checked: params[:contribs]}
        %label{for: "contribs"} List contributions
      %div.checkbox
        %input#tools{type: "checkbox", name: "tools", value: "on", checked: params[:tools]}
        %label{for: "tools"} Include tool counts

    %button Submit

  %div.total-count
  %div.output
  %div.contrib-nav
    %div.prev-page &larr; Newer 50
    %div.next-page Older 50 &rarr;