%main.counter
  %header
    %h1 Non-automated edit counter

  %form
    %fieldset.basic
      %label{for: "username"} Username
      %input#username{type: "text", placeholder: "Example", name: "username", required: true, value: params[:username]}
      %input#offset{type: "hidden", name: "offset", value: 0}

    %fieldset.dropdowns
      %label{for: "namespace"} Namespace
      %input#namespace{type: "hidden", name: "namespace", value: namespace}
      %div.dropdown
        %div#dropdown_select
          = namespaceText
        %ul.namespace-selector
          %li{"data-id" => nil}
            All
          - namespaces.keys.each do |namespaceId|
            %li{"data-id" => namespaceId}
              = namespaces[namespaceId]

    %fieldset.options
      %div.checkbox
        %input#contribs{type: "checkbox", name: "contribs", value: "on", checked: params[:contribs]}
        %label{for: "contribs"} List contributions
      %div.checkbox
        %input#tools{type: "checkbox", name: "tools", value: "on", checked: params[:tools]}
        %label{for: "tools"} Include tool counts
      %div.checkbox.redirects-option.invisible
        %input#redirects{type: "checkbox", name: "redirects", value: "on", checked: params[:redirects]}
        %label{for: "redirects"} Exclude redirects

    %button Submit

    / %div.expander.notes
    /   Notes about this tool
    /   %ul
    /     %li one
    /     %li two

  %section.output
    %span.another-query &larr; Do another query
    %div.summary-output.result-block
    %dl.counts-output.result-block
    %small.notes-output.result-block
    %ul#contribs.contribs-output.result-block
    %div.contrib-nav
      %div.prev-page &larr; Newer 50
      %div.next-page Older 50 &rarr;

  %section.loading
    %div.loading-text Thinking...
    %progress{max: "100", value: "0"}
    %div.progress-report
