<!--
  Pageviews Comparison tool

  Forked by MusikAnimal from https://gist.github.com/marcelrf/49738d14116fd547fe6d courtesy of marcelrf

  Copyright 2016 MusikAnimal
  Redistributed under the MIT License: https://opensource.org/licenses/MIT
-->

<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content='yes' name='apple-mobile-web-app-capable'>
    <meta content='black-translucent' name='apple-mobile-web-app-status-bar-style'>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' name='viewport'>
    <title>Pageviews Comparsion</title>

    <link rel="stylesheet" href="/musikanimal/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/musikanimal/vendor/select2.min.css"/>
    <link rel="stylesheet" href="/musikanimal/vendor/daterangepicker.min.css"/>
    <link rel="stylesheet" href="/musikanimal/pageviews/application.css"/>

    <script src="/musikanimal/vendor/jquery.min.js"></script>
    <script src="/musikanimal/vendor/bootstrap.min.js"></script>
    <script src="/musikanimal/vendor/select2.min.js"></script>
    <script src="/musikanimal/vendor/moment.min.js"></script>
    <script src="/musikanimal/vendor/daterangepicker.min.js"></script>
    <script src="/musikanimal/vendor/Chart.min.js"></script>
    <script src="/musikanimal/sites.js"></script>
    <script src="/musikanimal/pageviews/application.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="col-lg-offset-2">
        <!-- Header -->
        <header class="row aqs-row">
          <div class="col-lg-10 text-center">
            <h4><strong>Pageviews Comparison</strong></h4>
          </div>
        </header>

        <div class="row aqs-row">
          <!-- Date range selector -->
          <div class="col-lg-5">
            <label for="range-input">Dates</label>
            <span class="date-latest">
              Latest
              <a href='#' data-value='10'>10</a>
              <a href='#' data-value='20'>20</a>
              <a href='#' data-value='30'>30</a>
              <a href='#' data-value='60'>60</a>
              <a href='#' data-value='90'>90</a>
              days
            </span>
            <input id="range-input" class="form-control aqs-date-range-selector" />
          </div>
          <!-- Project selector -->
          <div class="col-lg-5">
            <label for="project-input">Project</label>
            <input id="project-input" class="form-control aqs-project-input" placeholder="en.wikipedia.org" />
          </div>
        </div>

        <!-- Article selector -->
        <div class="row aqs-row">
          <div class="col-lg-10">
            <label for="article-input">Pages</label>
            <select id="article-input" class="aqs-article-selector col-lg-12" multiple="multiple"></select>
          </div>
        </div>

        <!-- Chart -->
        <div class="chart-container col-lg-10 loading">
          <canvas class="aqs-chart"></canvas>
        </div>

        <!-- Legend -->
        <div class="col-lg-10" id="chart-legend"></div>

        <!-- other links -->
        <div class="col-lg-10 data-links">
          Download as <a href="#" class="download-csv">CSV</a> &middot; <a href="#" class="download-json">JSON</a>
        </div>

        <footer class="col-lg-10">
          <span>Brought to you by <a href="https://en.wikipedia.org/wiki/User:MusikAnimal">MusikAnimal</a> and <a href="https://wikimediafoundation.org/wiki/User:Mforns_(WMF)">Marcel Ruiz Forns</a>.</span>
          <span class='nowrap'>Hosted with <span class='heart'>&hearts;</span> on <a href="https://wikitech.wikimedia.org/wiki/Portal:Tool_Labs">Wikimedia Labs</a>.</span>
        </footer>
      </div>
    </div>
  </body>
</html>
