%form
  %fieldset.basic
    %label{for: 'composer'} Composer
    %input#composer{type: 'text', placeholder: 'George Gershwin', name: 'composer', required: true, value: params[:composer]}

  %fieldset.list-options
    %div.radio
      %input#list{type: 'radio', name: 'list', value: 'all', checked: list == 'all'}
      %label{for: 'list'} List all files
    %div.radio
      %input#unused{type: 'radio', name: 'list', value: 'unused', checked: list == 'unused'}
      %label{for: "unused"} List only files not currently used in articles
    / %div.radio
    /   %input#no_sound_list{type: 'radio', name: 'list', value: 'no_sound_list', checked: list == 'no_sound_list'}
    /   %label{for: 'no_sound_list'}
    /     List only files not at
    /     %a{href: 'https://en.wikipedia.org/wiki/Wikipedia:Sound/list'} Wikipedia:Sound/list
    / %div.sound-list-pages{style: "visibility: #{!soundlist.nil? ? 'visible' : 'hidden'}"}
    /   %label{for: 'soundlist'} Sound list
    /   %input#soundlist{type: 'hidden', name: 'soundlist', value: soundlist || nil}
    /   %div.dropdown
    /     %div.dropdown-text#dropdown_select
    /       = soundlist || 'Select soundlist'
    /     %ul.dropdown-options
    /       %li.dropdown-option{'data-id' => nil}
    /         Select soundlist
    /       - soundlists.each do |list|
    /         %li.dropdown-option{'data-id' => list}
    /           = list

  %button Submit

%section.output
  %span.another-query &larr; Do another query
  %div.files.result-block

%section.loading
  %div.loading-text Thinking...
  %progress{max: "100", value: "0"}
  %div.progress-report
