.about {
  font-size: 16px;
  overflow-x: hidden;

  section {
    &::before {
      display: block;
      font-size: 18px;
      font-weight: bold;
      margin: 18px 0;
    }
    &.description::before {
      content: "About";
    }
    &.tools::before {
      content: "Tools";
    }
    &.api::before {
      content: "API";
    }
  }

  .tools {
    overflow: hidden;
    width: 100%;
  }

  span { display: inline-block; }

  .list {
    margin: 10px 0;
  }
  .list-item {
    font-size: 14px;
    max-height: 285px;
    overflow: auto;
    width: 800px;
    .heading {
      font-weight: bold;
    }
    .id {
      width: 50px;
    }
    .name {
      width: 200px;
    }
    .regex {
      width: 550px;
      font-family: monospace;
      white-space: nowrap;
    }
  }

  .api {
    ul {
      font-size: 14px;
      overflow: auto;
      padding-left: 20px;
      white-space: nowrap;
      li {
        margin-bottom: 15px;
      }
    }
    .description {
      margin-bottom: 10px;
    }
    h3 {
      font-family: monospace;
      margin: 0 0 5px;
    }
    span {
      &:first-child {
        font-family: monospace;
        width: 120px;
      }
    }
    .response {
      margin-top: 5px;
    }
  }
}