@import 'mixins';
@import 'colors';

html {
  height: 100%;
}

body {
  @include prefix(box-sizing, border-box);
  background: $white;
  font-family: 'Roboto', serif;
  font-size: 14px;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  padding: 10px 10px 57px;
  position: relative;
}

h1 {
  font-size: 18px;
  margin: 0;
}

header {
  border-bottom: solid 1px $black;
  margin-bottom: 15px;
  padding-bottom: 25px;
}

.another-query {
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  text-decoration: none;
}

input {
  border: solid 1px $black;
  font-family: 'Roboto', serif;
  letter-spacing: .1em;
  width: 300px;

  &:focus {
    outline: $outline auto 5px;
  }

  &[type='checkbox'],
  &[type='radio'] {
    position: absolute;
    visibility: hidden;
  }

  &:required,
  &:invalid {
    box-shadow: none;
  }
}

a,
button,
div,
input {
  &:-moz-placeholder {
    box-shadow: none !important;
  }

  &:focus {
    outline: $outline auto 5px;
  }
}

button {
  background: $white;
  border: solid 1px $black;
  margin-top: 20px;

  &:active {
    background: $gray;

    &:focus {
      outline: none;
    }
  }
}

label {
  font-size: 16px;
}

input[type=text],
input[type=date],
button {
  @include prefix(box-sizing, border-box);
  display: block;
  font-size: 14px;
  height: 40px;
  padding: 10px;
  vertical-align: top;
}

::-webkit-datetime-edit-text, /* this makes the slashes in dd/mm/yyyy grey */
::-webkit-datetime-edit-day-field[aria-valuetext=blank],
::-webkit-datetime-edit-month-field[aria-valuetext=blank],
::-webkit-datetime-edit-year-field[aria-valuetext=blank] {
  color: $outline;
}

.dropdown {
  @include prefix(box-sizing, border-box);
  border: solid 1px $black;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: relative;
  width: 300px;

  .dropdown-text {
    padding: 0 10px;

    &::after {
      border-color: $black transparent transparent;
      border-style: solid;
      border-width: 12px 8px 0;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      right: 10px;
      top: 13px;
      width: 0;
    }
  }

  .dropdown-options {
    background: $white;
    border: solid 1px $black;
    display: none;
    left: -1px;
    list-style: none;
    margin: 0;
    max-height: 160px;
    overflow-y: scroll;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 2;

    &.open {
      display: block;
    }
  }

  .dropdown-option {
    padding: 0 10px;

    &:hover {
      background: $gray;
    }
  }
}

.checkbox,
.radio {
  margin: 10px 0;
  padding-left: 20px;
  position: relative;

  label {
    font-size: 14px;

    &::before {
      background-color: $white;
      content: '';
      display: inline-block;
      position: absolute;
    }

    &::after {
      background-color: $black;
      content: '';
      display: none;
      position: absolute;
    }
  }

  input:checked + label::after {
    display: block;
  }
}

.radio {
  &::before {
    border: solid 8px $black;
    border-radius: 8px;
    content: '';
    display: inline-block;
    height: 0;
    left: 1px;
    position: absolute;
    top: 0;
    width: 0;
  }

  label {
    &::before {
      border: solid 7px $white;
      border-radius: 7px;
      height: 0;
      left: 2px;
      top: 1px;
      width: 0;
    }

    &::after {
      border: solid 4px $black;
      border-radius: 4px;
      left: 5px;
      top: 4px;
    }
  }

  input:active + label::before {
    border-color: $input-active;
  }
}

.checkbox {
  label {
    &::before {
      border: solid 1px $black;
      height: 14px;
      left: 0;
      top: 0;
      width: 14px;
    }

    &::after {
      height: 10px;
      left: 3px;
      top: 3px;
      width: 10px;
    }
  }

  input:active + label::before {
    background-color: $input-active;
    left: 0;
    position: absolute;
    top: 0;
  }
}

span { display: inline-block; }

form {
  @include prefix(transition, 'height 500ms, opacity 1s ease');
  height: 300px;

  &.hide {
    height: 0;
    opacity: 0;
  }
}

.invisible {
  visibility: hidden;
}

.busy,
.disabled {
  opacity: .5;
  pointer-events: none;
}

@media \0screen\,screen\9 {
  .busy {
    display: none;
  }
}

.error {
  color: $error;
}

.gray {
  color: gray;
}

.nowrap {
  white-space: nowrap;
}

fieldset {
  border: 0;
  margin: 0 0 10px;
  padding: 0;

  &.options {
    margin-left: 10px;
  }

  &.dropdowns,
  &.list-options {
    label {
      display: block;
    }
  }
}

.loading {
  display: none;

  progress {
    @include prefix(appearance, none);
    background: $white;
    border: 1px solid $black;
    display: none;
    height: 20px;
    width: 200px;

    &::-webkit-progress-bar {
      background: $white;
      // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }

    &::-webkit-progress-value {
      background: $black;
    }
  }

  .loading-text {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.notes {
  margin-top: 30px;
}

.output {
  display: none;
  font-size: 16px;
}

footer {
  @include prefix(box-sizing, border-box);
  background: $white;
  border-top: solid 1px $black;
  bottom: 0;
  font-size: 14px;
  font-weight: bold;
  height: 57px;
  left: 0;
  line-height: 57px;
  overflow-y: hidden;
  padding: 0 20px;
  position: absolute;
  width: 100%;

  a {
    color: $black;
    text-decoration: none;

    &:focus {
      outline: $outline auto 5px;
    }
  }

  .footer-links {
    float: right;
  }
}

.about {
  font-size: 16px;
  overflow-x: hidden;

  section {
    margin-bottom: 15px;

    &::before {
      display: block;
      font-size: 18px;
      font-weight: bold;
      padding: 18px 0;
    }

    &.description::before {
      content: 'Description';
    }

    &.api::before {
      content: 'API';
    }
  }

  ul {
    margin: 15px 0 0;
  }

  .api {
    ul {
      font-size: 14px;
      overflow: auto;
      padding-left: 20px;
      white-space: nowrap;

      li {
        margin-bottom: 15px;
      }
    }

    .description {
      margin-bottom: 10px;
    }

    h3 {
      font-family: monospace;
      margin: 0 0 5px;
    }

    span:first-child {
      font-family: monospace;
      width: 120px;
    }

    .response {
      margin-top: 5px;
    }
  }
}
