@import 'mixins';

html {
  height: 100%;
}

body {
  background: white;
  font-family: 'Roboto', serif;
  font-size: 14px;
  margin: 0;
  min-height: 100%;
  padding: 10px 10px 57px;
  position: relative;
  @include prefix(box-sizing, border-box);
}

h1 {
  font-size: 18px;
  margin: 0;
}

header {
  border-bottom: solid 1px black;
  padding-bottom: 25px;
  margin-bottom: 15px;
}

.another-query {
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
}

input {
  border: solid 1px black;
  font-family: 'Roboto', serif;
  letter-spacing: 0.1em;
  width: 300px;
  &:focus {
    outline: #888 auto 5px;
  }
  &[type='checkbox'] {
    position: absolute;
    visibility: hidden;
  }
  &:required, &:invalid {
    box-shadow: none;
  }
}

a, button, div, input {
  &:-moz-placeholder {
    box-shadow: none !important;
  }
  &:focus {
    outline: #888 auto 5px;
  }
}

button {
  background: white;
  border: solid 1px black;
  margin-top: 20px;
  &:active {
    background: #EEE;
    &:focus {
      outline: none;
    }
  }
}

label {
  font-size: 16px;
}

input[type=text], button {
  display: block;
  font-size: 14px;
  height: 40px;
  padding: 10px;
  vertical-align: top;
  @include prefix(box-sizing, border-box);
}

.dropdown {
  border: solid 1px black;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: relative;
  width: 300px;
  @include prefix(box-sizing, border-box);
  #dropdown_select {
    padding: 0 10px;
    &::after {
      border-color: black transparent transparent;
      border-width: 12px 8px 0 8px;
      border-style: solid;
      content: "";
      display: block;
      height: 0;
      position: absolute;
      right: 10px;
      top: 13px;
      width: 0;
    }
  }
  ul {
    background: white;
    border: solid 1px black;
    display: none;
    left: -1px;
    list-style: none;
    margin: 0;
    max-height: 160px;
    overflow-y: scroll;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 2;
    &.open {
      display: block;
    }
    li {
      padding: 0 10px;
      &:hover {
        background: #EEE;
      }
    }
  }
}

.checkbox {
  margin: 10px 0;
  padding-left: 20px;
  position: relative;
  label {
    font-size: 14px;
    &::before {
      background-color: white;
      border: solid 1px black;
      content : "";
      display: inline-block;
      height: 14px;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 14px;
    }
    &::after {
      background-color: black;
      content: "";
      display: none;
      height: 10px;
      left: 3px;
      position: absolute;
      top: 3px;
      width: 10px;
    }
  }
  input:checked + label::after {
    display: block;
  }
  input:active + label::before {
    background-color: #DDDDDD;
  }
}

form {
  height: 350px;
  @include prefix(transition, "height 500ms, opacity 1s ease");
  &.hide {
    height: 0;
    opacity: 0;
  }
}

.busy {
  opacity: 0.5;
  pointer-events: none;
}

@media \0screen\,screen\9 {
  .busy {
    display: none;
  }
}

.error {
  color: #fe765e;
}

.gray {
  color: gray;
}

fieldset {
  border: none;
  margin: 0 0 10px;
  padding: 0;
  &.options {
    margin-left: 10px;
  }
  &.dropdowns {
    label {
      display: block;
    }
  }
}

.loading {
  display: none;
  progress {
    background: white;
    border: 1px solid black;
    display: none;
    height: 20px;
    width: 200px;
    @include prefix(appearance, none);
    &::-webkit-progress-bar {
      background: white;
      // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
    &::-webkit-progress-value {
      background: black;
    }
  }

  .loading-text {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.output {
  display: none;
  font-size: 16px;

  .result-block {
    display: none;
    &::before {
      display: block;
      font-size: 18px;
      font-weight: bold;
      margin: 18px 0;
    }
  }

  .summary-output::before {
    content: "Summary";
  }
  .counts-output::before {
    content: "Tool counts";
  }
  .contribs-output::before {
    content: "Contributions";
  }

  dl {
    width: 325px;
    dt {
      display: inline-block;
      width: 200px;
    }
    dd {
      display: inline-block;
      margin: 0;
      width: 125px;
    }
    .empty {
      display: none;
    }
  }

  // .counts-output {
  //   width: 650px;
  // }

  ul {
    font-size: 15px;
    padding: 0;
    li {
      margin-left: 40px;
    }
  }

  a {
    color: #0033cc;
    text-decoration: none;
    &:visited {
      color: #4365cc;
    }
  }

  .minor-edit {
    font-weight: bold;
  }
}

.another-query {
  font-size: 14px;
  margin-bottom: 20px;
}

.prev-page {
  display: none;
  float: left;
}
.next-page {
  display: none;
  float: right;
}
.contrib-nav {
  font-weight: bold;
  height: 20px;
  padding: 10px 0;
  @include clearfix;
  div { cursor: pointer; }
}

footer {
  background: white;
  border-top: solid 1px black;
  bottom: 0;
  font-size: 14px;
  font-weight: bold;
  height: 57px;
  left: 0;
  line-height: 57px;
  padding: 0 20px;
  position: absolute;
  width: 100%;
  @include prefix(box-sizing, border-box);
  a {
    color: black;
    text-decoration: none;
    &:focus {
      outline: #888 auto 5px;
    }
  }
}